[Unit]
Description=Load AppArmor profiles
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/aa-lsm-hook

[Install]
WantedBy=multi-user.target
